<a href="https://colab.research.google.com/github/iszewczuk/pandas_exercises_my/blob/main/CHIPOTLE_Getting_and_Knowing_your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import math as mt
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [ ]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [ ]:
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
item_quantity_sorted = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

most_ordered_val = item_quantity_sorted.index[0]

most_ordered_val

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
top_sells = item_quantity_sorted[0]

top_sells

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
choice_quantity = chipo.groupby('choice_description')['quantity'].sum()

choice_quantity_sorted = choice_quantity.sort_values(ascending=False)

choice_quantity_sorted.index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [ ]:
total_items_ordered = chipo['quantity'].sum()

total_items_ordered

4972

### Step 13. Turn the item price into a float

In [ ]:
def convert_to_float(price):
    return float(price[1:])

chipo['item_price_float'] = chipo['item_price'].apply(convert_to_float)

print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price  \
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

   item_price_float
0              2.39
1              3.39
2              3.39
3              2.39
4             16.98

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
convert_price_to_float = lambda price: float(price[1:])

chipo['item_price'] = chipo['item_price'].apply(convert_price_to_float)

chipo['item_price'].dtype

dtype('float64')

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

In [ ]:
revenue

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()

num_orders

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
revenue_per_order = chipo.groupby('order_id')['quantity', 'item_price'].apply(lambda x: (x['quantity'] * x['item_price']).sum()).mean()

#avg_revenue_per_order = revenue_per_order.mean()

round(revenue_per_order, 2)

<ipython-input-47-7fb90707cc60>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  revenue_per_order = chipo.groupby('order_id')['quantity', 'item_price'].apply(lambda x: (x['quantity'] * x['item_price']).sum()).mean()

21.39

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
num_items_sold = chipo['item_name'].nunique()
num_items_sold

50