<a href="https://colab.research.google.com/github/iszewczuk/pandas_exercises_my/blob/main/Housing_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [23]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [24]:
series_1 = pd.Series(np.random.randint(1, 5, size=100))
series_2 = pd.Series(np.random.randint(1, 4, size=100))
series_3 = pd.Series(np.random.randint(10000, 30001, size=100))

In [25]:
print(series_1, series_2, series_3)

0     3
1     3
2     3
3     1
4     3
     ..
95    1
96    3
97    4
98    4
99    4
Length: 100, dtype: int64 0     1
1     2
2     3
3     3
4     2
     ..
95    1
96    3
97    3
98    1
99    1
Length: 100, dtype: int64 0     24892
1     18956
2     16954
3     12234
4     12390
      ...
95    26491
96    25574
97    10412
98    10880
99    21657
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [26]:
df = pd.DataFrame({'Column_1': series_1, 'Column_2': series_2, 'Column_3': series_3})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [27]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [28]:
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       1            24892
1      3       2            18956
2      3       3            16954
3      1       3            12234
4      3       2            12390

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [29]:
bigcolumn = pd.concat([series_1, series_2, series_3], axis=0)
df1 = pd.DataFrame(bigcolumn)
df1 = df1.reset_index(drop=True)

In [30]:
df1.head()

   0
0  3
1  3
2  3
3  1
4  3

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [31]:
df1 = pd.DataFrame(bigcolumn.reset_index(drop=True), columns=['bigcolumn'])

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [32]:
df1 = df.reindex(range(300))