<a href="https://colab.research.google.com/github/iszewczuk/pandas_exercises_my/blob/main/wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [10]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [11]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

wine = pd.read_csv(url)

In [12]:
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [13]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [14]:
wine.columns = ['alcohol', 'malic_acid', 'ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [15]:
wine.iloc[:3, 0] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [16]:
wine.loc[2:4, 3] = float('nan')

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [17]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)

### Step 9. Count the number of missing values

In [18]:
wine.isnull().sum()

alcohol              0
malic_acid           0
ash                  0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
3                  177
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [21]:
random_numbers = np.random.randint(10, size=10)
print(random_numbers)

[9 0 5 5 5 6 9 0 4 8]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [22]:
arr = np.empty(10)
arr[:] = np.nan
arr[random_numbers] = np.nan

### Step 12.  How many missing values do we have?

In [26]:
wine.isnull().sum()

alcohol              0
malic_acid           0
ash                  0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
3                  177
dtype: int64

### Step 13. Delete the rows that contain missing values

In [27]:
new_wine = wine.dropna(inplace=True)
new_wine

### Step 14. Print only the non-null values in alcohol

In [31]:
new_wine = wine.alcohol.notnull()
new_wine

Series([], Name: alcohol, dtype: bool)

In [32]:
wine.alcohol[new_wine]

Series([], Name: alcohol, dtype: float64)

### Step 15.  Reset the index, so it starts with 0 again

In [33]:
wine = wine.reset_index(drop = True)
wine.head()

Empty DataFrame
Columns: [alcohol, malic_acid, ash, magnesium, flavanoids, proanthocyanins, hue, 3]
Index: []

### BONUS: Create your own question and answer it.